.wrapper{
    height:100vh;
    position: relative;
}

.container{
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.notFound{
    font-size:30vh;
    text-align: center;
}

.notFound span{
    color:rgb(235, 133, 17);
}

.container h2{
    text-align: center;
    margin:auto;
}