$theme-colors: (
  "primary": rgb(255, 115, 0),
  "danger": rgb(235, 76, 65),
  "secondary": rgba(255, 255, 255, 0),
);

@import "~bootstrap/scss/bootstrap.scss";

@mixin  wrapper {
  width: 100vw;
  height: 100vh;
}

@mixin glassy-texture--medium {
  background-color: rgba(255, 148, 25, 0.4);
}

@mixin glassy-texture--low {
  background-color: rgba(255, 255, 255, 0.9);
}

.wrapper {
  @include wrapper;
}

.background__glassy--medium {
  @include glassy-texture--medium;
}

.background__glassy--low {
  @include glassy-texture--low;
}

.background__video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

.card__auth {
  min-width: 330px;

  @media screen and (max-width:426px) {
    @include wrapper;
  }
}