$theme-colors: (
  "primary": rgb(255, 115, 0),
  "danger": rgb(235, 76, 65),
  "secondary": rgba(255, 255, 255, 0),
);

@function theme-color($key: "primary") {
  @return map-get($theme-colors, $key);
}

@import "~bootstrap/scss/bootstrap.scss";

body {
  margin: 0;
  padding: 0;
}

@mixin wrapper {
  height: 100vh;
}

@mixin glassy-texture--medium {
  background-color: rgba(255, 148, 25, 0.4);
}

@mixin glassy-texture--low {
  background-color: rgba(255, 255, 255, 0.9);
}

.wrapper {
  @include wrapper;
}

.background__glassy--medium {
  @include glassy-texture--medium;
}

.background__glassy--low {
  @include glassy-texture--low;
}

.pointer {
  cursor: pointer;
}

.background__video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

.background__image {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  background: url("./assets/img/background.png");
}

.card__auth {
  min-width: 330px;

  @media screen and (max-width: 426px) {
    @include wrapper;
  }
}

.avatar {
  height: 50px;
  width: 50px;
  background-color: theme-color("primary");

  display: flex;
  justify-content: center;
  align-items: center;
}

.live-logo {
  padding: 10px;
  border: solid 3px theme-color("light");
  color: theme-color("light");
}

.h-70 {
  height: 70vh !important;
}

@keyframes grow {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
